@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IBM Plex Sans TC';
    src: url('./fonts/IBMPlexSansTC-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans TC';
    src: url('./fonts/IBMPlexSansTC-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans TC';
    src: url('./fonts/IBMPlexSansTC-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans TC';
    src: url('./fonts/IBMPlexSansTC-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@layer base {

    html,
    body,
    button,
    input,
    textarea,
    select {
        font-family: 'IBM Plex Sans TC', sans-serif;
    }
}